$size: 300px;
$imgSize: 80px;
.container {
  width: $size;
  height: $size;
  outline: 1px solid #000;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
  animation: rotate linear infinite 20s;
  .item {
    width: $imgSize;
    height: $imgSize;
    position: absolute;
    margin-top: -40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
$n: 5;
$pDeg: 360deg / $n;
.container {
  animation: rotation linear infinite 20s;
  .item {
    transform-origin: center $size / 2 + $imgSize / 2;
    @for $i from 1 through $n {
      &:nth-child(#{$i}) {
        $d: ($i - 1) * $pDeg;
        transform: rotate($d);
        img {
          --initDeg: #{-$d};
          transform: rotate(-$d);
          animation: rotation linear infinite 20s reverse;
        }
      }
    }
  }
}

.container:hover {
  animation-play-state: paused;
  .item img {
    animation-play-state: paused;
  }
}

@keyframes rotation {
  to {
    transform: rotate(calc(360deg + var(--initDeg, 0deg)));
  }
}
